<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BatchMapper">


	<insert id="insertBatchHistory" useGeneratedKeys="true" keyProperty="BTCH_HIST_IDX">
		INSERT INTO KP_BTCH_HIST (BTCH_PLTF, BTCH_NM, BTCH_DESC, STRT_DTM)
		VALUES (#{platform}, #{batchName}, #{batchDesc}, NOW(3))
	</insert>


	<update id="updateBatchHistory">
		UPDATE KP_BTCH_HIST
		SET IS_SUCC  = #{isSuccess},
		<if test="!@com.soas.util.CommonUtil@isEmpty(failLog)">
			FAIL_LOG = #{failLog},
		</if>
			END_DTM  = NOW(3)
		WHERE BTCH_HIST_IDX = #{batchHistoryIdx}
	</update>


</mapper>